<p>Contact</p>

<div>
  <button (click)="langHandler('de')">DE</button>
  <button (click)="langHandler('en')">EN</button>
</div>

<div>
  <label for="name">{{ "NAME" | translate }}</label>
  <input type="text" [(ngModel)]="name" />
</div>
<div>
  <label for="email">{{ "EMAIL" | translate }}</label>
  <input type="text" [(ngModel)]="email" />
</div>
<div>
  <label for="message">{{ "MESSAGE" | translate }}</label>
  <input type="text" [(ngModel)]="message" />
</div>

<button
  [appDisableButtonIfNotAllInputsSet]="[name, email, message]"
  (click)="onSubmit()"
>
  {{ "SUBMIT_ATTRIBUTE_DIRECTIVE" | translate }}
</button>

<button *appFormAllRequired="[name, email, message]" (click)="onSubmit()">
  {{ "SUBMIT_STRUCTURAL_DIRECTIVE" | translate }}
</button>
